.wm-green {
    background-color: #115740 !important;
}

.wm-green-text {
    color: #115740 !important;
}

.wm-spirit-gold {
    background-color: #F0B323 !important;
}

.wm-spirit-gold-text {
    color: #F0B323 !important;
}